.row
  .col-md-10.col-md-offset-1
    %iframe#haWidget{:onload => "scroll(0,0);", :src => "https://www.helloasso.com/associations/collectif-totem/evenements/totem-iv-2/widget", :style => "width:800px;height:750px;border:none;"}